{% extends "base.html" %}
{% block content %}

<br>

<h3 style="color: slateblue;"> Result of AI Image recogniton powered by Tensorflow </h3>


<img class="resize" src="{{ image_filename }}"   alt="image" style="width:30%; height:auto; margin:50 auto;" >
<br>
<p style="color: slateblue;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your image is classfied as : &nbsp;<span style="color:tomato;font-weight:bold">{{airesult  }}</span> </p>
<br><br>


   <form  action="/" method="get"  >



    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Home" class="btn btn-primary">

  </form>

<div class="row" id="power">


        <div class="column">
            <img src="static/images/tflow2.png" alt="Tensor Flow Image">
        </div>

        <div class="column">
            <img src="static/images/flask.png" alt="Flask Image">
        </div>

        <div class="column">
            <img src="static/images/python.png" alt="Python Image" height="60">
        </div>
    </div>




<br>
{% endblock %}

