{% extends "base.html" %}
{% block content %}

<br>

<h3> Result of AI Image recogniton powered by Tensorflow </h3>


<img class="resize" src="{{ image_filename }}"   alt="image" style="width:30%; height:auto; margin:50 auto;" >
<br>
<p style="color: blue;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your image is classfied as : &nbsp;<span style="color:tomato;font-weight:bold">{{airesult  }}</span> </p>
<br><br>


   <form  action="/" method="get"  >



    &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Home" class="btn btn-primary">

  </form>






<br>
{% endblock %}

